
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FoodOrderSystem.Models.SignupLogin
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content m-b-40">
                        <h5 class="section-content__title text-center">Forget Password</h5>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="login-form-container">
                        @*<h5 class="sidebar__title">Login</h5>*@
                        <div class="login-register-form">
                            <form>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="text-danger">@ViewBag.Message</div>
                                <div class="form-box__single-group">
                                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @for = "form-username" })
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @id = "form-username" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <button class="btn btn--box btn--medium btn--radius btn--black btn--black-hover-green btn--uppercase font--semi-bold" type="submit">Send Email</button>
                            </form>
                        </div>
                        <br>
                        <a class="link--gray" href="@Url.Action("Signup","Login")">If you does not have account? Register Account Here.</a>
                    </div>

                </div>

            </div>
        </div>
    </main>
}